@import url('https://fonts.cdnfonts.com/css/source-sans-pro');
#root {
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
}

.hero{
  color: #fff;
  background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url(/src/assets/common-bg.svg);
  background-position: center;
  height: 100vh;
  /* min-height: 80rem; */
  max-height: 120rem;
  position: relative;
}

.btn{
  background: #7843e9;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  font-size: 1.2rem;
  /* padding: 1rem 3.67rem; */
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
  transition: transform .3s;
}

.btn:hover {
  background: #6329e1;
  transform: translateY(-3px);
}

.divider{
  height: 5px;
  width: 3rem;
  background: #7843e9;
  border-radius: 5px;
  margin: 15px auto;

}

.projects{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 5rem;
  margin-bottom: 11rem;
}
.contact{
    /* box-shadow: rgba(100,100,111,.2) 0 7px 29px 0; */
    background: #fff;
    padding: 4rem;
    margin-top: 6rem;
    /* max-width: 80rem; */
    text-align: right;
    /* width: 95%; */
    border-radius: 5px;
    margin: 5rem auto 0 auto;
    background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url(/src/assets/common-bg.svg);
}

label{
  color: #666;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: 700;
  /* margin-bottom: 1rem; */
  display: block;
  text-align: left;
  margin: 20px 0 10px 0;
}

input, textarea{
  color: #333;
    /* padding: 2rem; */
    width: 100%;
    border: 1px solid #ebebeb;
    font-size: 1.6rem;
    letter-spacing: 0;
    background: #f0f0f0;
    border-radius: 5px;
    font-weight: 600;
}


@media screen and (max-width: 576px){
  .projects{
    grid-template-columns: repeat(1, 1fr);
  }
}